:root {
    --primary-black: #222329;
    --primary-green: #3d9443;
    --primary-teal: 	#439d8b;
    --primary-bronze: #c9a989;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin-top: 50px;
    background-color: white
  }


  
  h1 {
    font-family: Karla;
    font-size: 60px;
    color: var(--primary-black)
  }

  h2 {
    font-family: Karla;
    font-size: 20px;
    color: var(--primary-black);
  }

  h3 {
    color: var(--primary-black);
    text-align: center;
    font-family: Karla;
    font-size: 25px;
    margin: 10px;
  }

  h4 {
    color: white;
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    margin: 10px;
  }
  
  h5 {
    color: white;
    text-align: center;
    font-family: Karla;
    font-size: 14px;
    margin: 30px;
  }
  

  p {
    margin: 30px;
    color: var(--primary-black);
    text-align: center;
    font-family: Karla;
  }

a {
  text-decoration: none;
  color: white;
  font-family: Karla;

}

footer {
  color: white;
  text-align: center;
  background-color: var(--primary-black);
  font-size: 10px;
  font-family: karla;
  padding: 20px;
}

.carousel {
  margin: 0 auto;
}

.link2 {
  color: var(--primary-teal);
}

.link:hover {
  color: var(--primary-black)
}

.link2:hover {
  color: var(--primary-black)
}
.link-footer{
  color: white;
  font-family: Karla;
}

  .hero-text {
    text-align: center;
    color: white;

  }

  .hero-text-blog {
    color: white;

  }

  .highlighted-word {
    color: white;
    background-color: var(--primary-black);
    padding-left: 13px;
    padding-right: 13px;
    font-family: karla;
    border-radius: 4px;
  }

  .highlight {
    background-color: var(--primary-black);
    padding: 5px;
    color: white;
  }

 
  #hero {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
    width: 100%;
    height: 70vh;
    background-size: cover;
    padding: 0 15px;
    background-position-y: 80%;
  }

  #hero-blog {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
    width: 100%;
    height: 20vh;
    background-size: cover;
    padding: 0 15px;
    background-position-y: 40%;
  }

    #hero-portfolio {
      background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
      width: 100%;
      height: 20vh;
      background-size: cover;
      padding: 0 15px;
      background-position-y: 40%;
    }

   

      #hero-contact {
        background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
      width: 100%;
      height: 20vh;
      background-size: cover;
      padding: 0 15px;
      background-position-y: 40%;
    }


  #portfoliopics:hover {
    filter: grayscale();
    cursor: pointer;
  }

  #carouselExampleCaptions {
    width: 30%;
    display: flex;
    
  }

  .lastwork {
    display: flex;
  }

  .tile {
    position: relative;
    
  }
  
  .tile-title {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: none;
    font-family: Karla;
    color: white;
  }
  
  .tile:hover #portfoliopics {
    filter: grayscale();
    cursor: pointer;
  }
  
  .tile:hover .tile-title {
    display: flex;
  }

  #Elise {
    max-block-size: 40%;
  }
  
/*font-family: 'Karla', sans-serif;/*
/*font-family: 'Spectral', serif;/*
