:root {
    --primary-black: #222329;
    --primary-green: #3d9443;
    --primary-teal: 	#439d8b;
    --primary-bronze: #c9a989;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin-top: 50px;
    background-color: var(--primary-black);
  }


  
  
/*font-family: 'Karla', sans-serif;/*
/*font-family: 'Spectral', serif;/*
