:root {
    --primary-black: #222329;
    --primary-green: #3d9443;
    --primary-teal: 	#439d8b;
    --primary-bronze: #c9a989;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin-top: 50px;
    background-color: white
  }

  
  h1 {
    font-family: Karla;
    font-size: 60px;
    color: white;
    text-align:center;
  }

  h2 {
    font-family: Karla;
    font-size: 20px;
    color: var(--primary-black);
  }

  h3 {
    color: var(--primary-black);
    text-align: left;
    font-family: Karla;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
  }

  h4 {
    color: white;
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    margin: 10px;
  }
  
  h5 {
    color: var(--primary-black);
    font-weight: bold;
    text-align: center;
    font-family: Karla;
    font-size: 17px;
  }
  

  p {
    margin: 30px 0;
    color: var(--primary-black);
    text-align: left;
    font-family: Karla;
  }

  blockquote {
    color: var(--primary-teal);
    font-size: 30px;
    max-width: 50%;
    margin: auto;
    position: relative;
    font-family: Spectral;
    padding: 10px;
  }

  button {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-teal);
    color: white;
    list-style: none;
  }

button:hover{
  filter: grayscale();
  cursor: pointer;
}

  a {
  text-decoration: none;
  color: white;
  font-family: Karla;
  }

footer {
  color: white;
  text-align: center;
  background-color: var(--primary-black);
  font-size: 10px;
  font-family: karla;
  padding: 20px;
  }

  li {
    font-family: Karla;
  }

  .button {
    text-align: center;
  }

 .codingbutton{
   background-color: var(--primary-bronze);
 }


#contact {
  background-color: var(--primary-teal);
  padding: 50px;
}

#contact-home {
  background-color: var(--primary-teal);
  padding: 50px;
}

#contact-publications {
  background-color: var(--primary-teal);
  padding: 50px;
}

#contact-portfolio{
  background-color: var(--primary-teal);
  padding: 50px;
}

#contact-coding {
  background-color: var(--primary-bronze);
  padding: 50px;
}


.card {
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.card-link {
  color: var(--primary-teal);
}

.card-text {
  text-align: left;
}

.card-link:hover {
  color: var(--primary-black);
}

.carousel {
  margin: 0 auto;
}

.container {
  width: 75%;
  margin: auto;
}

.link2 {
  color: var(--primary-teal);
}

a:hover {
  color: var(--primary-black);
}
.link:hover {
  color: var(--primary-black);
}

.link2:hover {
  color: var(--primary-black)
}
.link-footer{
  color: white;
  font-family: Karla;
}

.hero-text {
    text-align: center;
    color: white;
}
 
#hero {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
    width: 100%;
    height: 70vh;
    background-size: cover;
    padding: 0 15px;
    background-position-y: 80%;
}

#hero-blog {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/662/original/Elise_in_cave.jpeg?1617740447') top center;
    width: 100%;
    height: 20vh;
    background-size: cover;
    padding: 0 15px;
    background-position-y: 40%;
}
#hero-blogpost {
  background-color: var(--primary-teal);
  width: 100%;
  height: 40vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

#hero-portfolio {
  background-color: var(--primary-teal);
  width: 100%;
  height: 20vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

#hero-publications {
    background: url(../styles/images/publicationsbanner.jpg) ; 
    width: 100%;
    height: 30vh;
    background-size: cover;
    padding: 0 15px;
    background-position-y: 40%;
}

#hero-animates {
  background: url(../styles/images/animatesbanner.jpg) ; 
  width: 100%;
  height: 30vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

#hero-codingwebsite {
  background: url(../styles/images/portfoliobanner.jpg) ; 
  width: 100%;
  height: 30vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

#hero-themovingtype {
  background: url(../styles/images/themovingtypebanner.jpg) ; 
  width: 100%;
  height: 30vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

#hero-weatherapp {
  background: url(../styles/images/weatherappbanner.jpg) ; 
  width: 100%;
  height: 30vh;
  background-size: cover;
  padding: 0 15px;
  background-position-y: 40%;
}

.highlighted-word {
  color: white;
  background-color: var(--primary-black);
  padding-left: 13px;
  padding-right: 13px;
  font-family: karla;
  border-radius: 4px;
}

.highlight {
  background-color: var(--primary-black);
  padding: 5px;
  color: white;
}

#portfoliopics:hover {
   filter: grayscale();
   cursor: pointer;
}

#carouselExampleCaptions {
   width: 60%;
   display: flex; 
}

.homepage {
  width: 60%;
  margin: auto;
}


.lastwork {
  display: flex;
}

#logo {
  font-family: 'Great Vibes', cursive;
}

.tile {
  position: relative;  
}

  
.tile:hover #portfoliopics {
  filter: grayscale(0.5) drop-shadow(2px 2px 2px gray); 
  cursor: pointer;
}
  
.tile:hover .tile-title {
  display: flex;
}

#Elise {
  max-block-size: 40%;
}

#title {
  font-family: Karla;
}


@media (max-width: 576px) { 
  h1 {
    font-size: 30px;
  } 
  #hero-codingwebsite {
    background: var(--primary-bronze);
  }
  #hero-weatherapp {
    background: var(--primary-bronze)
  }
  #hero-themovingtype {
    background: var(--primary-teal)
  }
  #hero-publications {
    background: var(--primary-teal)
  }

}

@media (max-width: 800px) {
  blockquote {
    display:none; 
  }
}


.blogbox {
  background-color: white;
  padding:75px;
  margin: -75px 300px 0px 300px;
  max-width: 100%;
  position: relative;
}

.blogbody {
  background-color: #F8F8F8;
}

.blogpost {
  text-align:left;
  font-size: 20px;
  color: var(--primary-black);
}

.blogpostaccordion {
  text-align:left;
  color: var(--primary-black);
  font-size: 15px;
}

.accordion{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.bloglink{
  color: var(--primary-black);
}

.aboutme {
  width: 60%;
  margin: auto;
}

.introtext {
  width: 60%;
  margin: auto;
}

.accordion-button:not(.collapsed) {
  background: var(--primary-teal);
  color: white;

}
.skills {
  background-color: rgba(231, 238, 235, 0.877);
}

.skillsweatherapp {
  background-color: rgba(201, 169, 137, 0.15);
}

#skills {
  max-width: 60%;
  margin: auto;
}
.socialmedia {
  margin: 20px;
}


.portfoliolink {
  text-decoration: none;
  color: var(--primary-teal);
  font-family: Karla;
  }

.portfoliolink:hover {
    color: var(--primary-black);
  }

.slider {
    color: var(--primary-black);
    text-align: center;
    font-family: Karla;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  background-color: rgba(201,169,137,0.25);
}

.slider {
  margin: 30px 0;
  color: var(--primary-black);
  text-align: center;
  font-family: Karla;
  padding: 0;
}

/*font-family: 'Karla', sans-serif;/*
/*font-family: 'Spectral', serif;/*
